<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.user_type %></td>
  <td>
    <% if (user.user_type === 'user') { %>
      <form method="POST" action="/admin/promote/<%= user._id %>" style="display:inline">
        <button type="submit" class="btn btn-sm btn-success">Promote</button>
      </form>
    <% } else { %>
      <form method="POST" action="/admin/demote/<%= user._id %>" style="display:inline">
        <button type="submit" class="btn btn-sm btn-warning">Demote</button>
      </form>
    <% } %>
  </td>
</tr>
